ul{
    position: relative;
    width: 650px;
    height: 50px;
    background:#222;
    border-radius: 15px;
    display: flex;
    justify-content: left;
    align-items: left ;

}

ul li{
    position:relative;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color:rgb(238, 227, 227);
    text-decoration: none;
    padding: 0 20px;
    z-index:1;

}

li a{
    font-size:20px;
    color: rgb(238, 227, 227); 
    text-decoration: none;
    font-weight: 500;
    margin-left: 5px;
}

li a::after{
    content:"  ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

li a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}